.logo {
  height: 32px;
  line-height: 1;
  font-size: 28px;
  font-weight: 200;
  color: #fff;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .sidebar {
    position: fixed;
  }
}

.sidebar {
  height: 100%;
}

.content {
  padding: 24px;
  background: #fff;
  height: 100%;
  overflow-y: auto;
}
