.time {
  display: inline-block;
  margin-right: 2rem;
}

.comment {
  color: #7f8fa4;
  margin: 1rem 0;
}

.detail-button {
  display: block;
}

h4.ant-typography {
  font-size: 16px;
  color: #354052;
}
